<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">
		<h1>Welcome to WildFly!</h1>
			<div>
				<fieldset>
					<legend>Datos de Compra</legend>
					<table>
						<tr>
							<td>Comercio</td>
							<td><input type="text" name="comercio" value="" /></td>
						</tr>
						<tr>
							<td>Numero de Orden</td>
							<td><input type="text" name="orden" value="" /></td>
						</tr>
						<tr>
							<td>Monto</td>
							<td><input type="text" name="monto" value="" /></td>
						</tr>
						<tr>
							<td>Medio de Pago</td>
							<td><input type="text" name="medioPago" value="" /></td>
						</tr>
						<tr>
							<td>Cuotas</td>
							<td><input type="text" name="cuotas" value="" /></td>
						</tr>
					</table>
				</fieldset>
			</div>
			<div>
			<fieldset>
			<h:form id="tarjeta">
				
					<legend>Datos de Tarjeta</legend>
					<table>
						<tr>
							<td>
								<h:outputLabel id="tarjetaLabel" style="font-weight:bold;"
                                   value="Tarjeta" for="tarjeta" />
							</td>
							<td>
								<h:outputLabel id="codigoLabel" style="font-weight:bold;"
                                   value="Codigo" for="codigo" />
							</td>
							
						</tr>
						<tr>
							<td>
								<h:inputText id="id" value="#{tarjeta.id}"></h:inputText>
							</td>
							<td>
								<h:inputText id="codigo" value="#{tarjeta.codigo}"></h:inputText>
							</td>
							
						</tr>
						<tr>
						<td>Fecha de vencimiento</td>
						</tr>
						<tr>
						<td>
							<h:selectOneMenu value = "#{tarjeta.mesVenc}"> 
							   <f:selectItem itemValue = "1" itemLabel = "01" /> 
							   <f:selectItem itemValue = "2" itemLabel = "02" /> 
							   <f:selectItem itemValue = "3" itemLabel = "03" /> 
							   <f:selectItem itemValue = "4" itemLabel = "04" />
							   <f:selectItem itemValue = "5" itemLabel = "05" /> 
							   <f:selectItem itemValue = "6" itemLabel = "06" />
							   <f:selectItem itemValue = "7" itemLabel = "07" /> 
							   <f:selectItem itemValue = "8" itemLabel = "08" />
							   <f:selectItem itemValue = "9" itemLabel = "09" /> 
							   <f:selectItem itemValue = "10" itemLabel = "10" />							   							   							   
							   <f:selectItem itemValue = "11" itemLabel = "11" />							   							   							   
							   <f:selectItem itemValue = "12" itemLabel = "12" />							   							   							   
							</h:selectOneMenu> 						
							<h:inputText id="anio" value="#{tarjeta.anioVenc}" size="4"></h:inputText>
							</td>
						</tr>
					</table>
		 			<input type="submit" name="cancelar" value="Cancelar" />
		            <div class="actionButtons">
                		<h:commandButton id="confirmar" value="Confirmar"
                                 action="#{validarPago.crearCompra}" />
            		</div>
				
				</h:form>
				</fieldset>
			</div>
	</ui:define>
</ui:composition>
